/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #ff6700;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

@font-face {
    font-family: 'iconfont';
    src: url('icon/iconfont.eot');
    src: url('icon/iconfont.eot?#iefix') format('embedded-opentype'),
    url('icon/iconfont.woff') format('woff'),
    url('icon/iconfont.ttf') format('truetype'),
    url('icon/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*公共类*/
.container {
    width: 1226px;
    margin: 0 auto;
}

.top-ad{
    position: relative;
    width: 100%;
    height: 120px;
    overflow: hidden;
    background-color: #d3262a;

}
.top-ad img{
    position: absolute;
    top: 0;
    left:50%;
    margin-left:-1280px;
}


/*头部开始*/
html, body {
    width: 100%;
}

body {
    height: 3000px;
}

.header {
    width: 100%;
    height: 140px;
}

/*------topbar-----*/

.header .topbar {
    width: 100%;
    height: 40px;
    background-color: #333333;
}

.header .topbar .topbar-left {
    height: 40px;
    width: 750px;
    float: left;
}

.header .topbar a {

    font-size: 12px;
    line-height: 40px;
    color: #b0b0b0;
}

.header .topbar a:hover {
    color: #fff;
}

.header .topbar .topbar-left span {
    margin: auto 6px;
    font-size: 12px;
    line-height: 40px;
    color: #424242;
}

.header .topbar .topbar-info {
    float: right;
    height: 40px;
    width: 165px;
    text-align: right;
    /*width: 130px;*/
}

.header .topbar .topbar-info span {
    margin: auto 5px;
    font-size: 12px;
    line-height: 40px;
    color: #424242;
}

.header .topbar .minicart {
    float: right;
    width: 120px;
    height: 40px;
    margin-left: 25px;
    background-color: #424242;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    color: #b0b0b0;
    position: relative;
    cursor: pointer;

}

.header .topbar .minicart i {
    font-size: 20px;
    color: #b0b0b0;

}

.header .topbar .minicart .cart-menu {
    width: 315px;
    height: 83px;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #fff;
    display: none;
    box-shadow: 0px 2px 5px #c0c0c0;
    z-index: 9;
    text-align: center;
    color: #ff6700;
    line-height: 83px;
    font-size: 14px;
}

/*.header .topbar .minicart:hover .cart-menu{*/
/*display: block;*/
/*}*/
.header .topbar .minicart:hover {
    color: #ff6700;
    background-color: #fff;
}

.header .topbar .minicart:hover i {
    color: #ff6700;
}

/*----head nav----*/

.header .nav {
    width: 100%;
    height: 100px;
    border-top: 1px solid transparent;
    position: relative;
}

.header .nav .container {
    position: relative;
}

.header .nav .logo {
    width: 55px;
    height: 55px;
    margin-top: 22px;
    background: #ff6700 url(../images/mi-logo.png) center center no-repeat;
    float: left;
}

.header .nav .logo a {
    display: block;
    width: 55px;
    height: 55px;
}

.header .nav .category {
    width: 164px;
    height: 54px;
    float: left;
    margin-left: 14px;
    margin-top: 22px;

}

.header .nav .category .link-category {
    display: block;
    width: 100%;
    height: 100%;
}

.header .nav .category img {
    width: 100%;
    height: 100%;
}

.header .nav .category .site-category {
    width: 234px;
    height: 440px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.71);
    top: 100px;
    left: 0;
    padding-top: 20px;
    z-index:8 ;

}

.header .nav .category .site-category .category-item {
    width: 204px;
    height: 42px;
    padding: 0 0 0 30px;
    text-align: left;
    font-size: 14px;
    line-height: 42px;
    position: relative;
}

.header .nav .category .site-category .category-item:hover {
    background-color: #ff6700;
}

.header .nav .category .site-category .category-item a {
    color: #fff;
}

.header .nav .category .site-category .category-item i {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 14px;
    line-height: 16px;
    color: #e0e0e0;
}

/*nav 左边  2级菜单*/
.header .nav .category-item .part {
    height: 458px;
    /*background-color: #900;*/
    position: absolute;
    top: -20px;
    left: 234px;
    background-color: #fff;
    border-top: 1px solid #b0b0b0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.header .nav .category-item .part .star-goods {
    width: 265px;
    height: 76px;
    position: relative;
    float: left;

}

.header .nav .category-item .part .star-goods a {
    width: 265px;
    height: 76px;
    line-height: 76px;
    color: #000;
    display: block;

}

.header .nav .category-item .part .star-goods img {
    width: 40px;
    height: 40px;
    margin: 18px 12px;

}

.header .nav .category-item .part .star-goods i {
    width: 40px;
    height: 40px;
    margin: 18px 12px;
    color: #ff6700;

}

.header .nav .category-item .part1 {
    width: 530px;
    height: 460px;
    display: none;

}

.header .nav .category-item .part2 {
    top: -61px;
    display: none;
}

.header .nav .category-item .part3 {
    width: 895px;
    top: -103px;
    display: none;
}

.header .nav .category-item .part4 {
    width: 992px;
    top: -145px;
    display: none;
}

.header .nav .category-item .part4 .star-goods {
    width: 248px;
    height: 76px;
    position: relative;
    float: left;

}

.header .nav .category-item .part5 {
    top: -187px;
    display: none;
}

.header .nav .category-item .part6 {
    top: -229px;
    display: none;
}

.header .nav .category-item .part7 {
    top: -271px;
    display: none;
}

.header .nav .category-item .part8 {
    top: -313px;
    display: none;
}

.header .nav .category-item .part9 {
    top: -355px;
    display: none;
}

.header .nav .category-item .part10 {
    top: -397px;
    display: none;
}

/*nav 上边  2级菜单*/

.header .nav .nav-item {
    width: 660px;
    height: 100px;
    float: left;
}


.header .nav .nav-item li {
    float: left;
    height: 100px;
    font-size: 16px;
    line-height: 100px;
    padding: 0 10px;
}

.header .nav .nav-item li a {
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
}

.header .nav .nav-item li a:hover {
    color: #ff6700;
}

.header .nav .head-nav-menu {
    height: 169px;
    width: 100%;
    padding: 30px 0;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 8;
}

.header .nav .head-nav-menu li {
    height: 169px;
    width: 184px;
    float: left;
    position: relative;

}

.header .nav .head-nav-menu li img {
    width: 160px;
    height: 110px;
    margin: 0 auto;
}

.header .nav .head-nav-menu li a {
    display: block;
    width: 100%;
    height: 10px;
    margin-top: 20px;
    text-align: center;
    line-height: 10px;
    font-size: 12px;

}

.header .nav .head-nav-menu li p {
    width: 100%;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #ff6700;

}

.header .nav .head-nav-menu span {
    margin: 0 13px;
    display: block;
    width: 1px;
    height: 100px;
    float: left;
    background-color: #e0e0e0;
    position: absolute;
    left: 180px;
    top: 0;
}

.header .nav .search {
    position: relative;
    float: right;
}

.header .nav .nav-search {
    width: 296px;
    height: 50px;
    line-height:50px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    margin-top: 25px;
    border: 1px solid #e0e0e0;
}

.header .nav .search span {
    display: block;
    font-size: 12px;
    position: absolute;
    top: 40px;
    background-color: #eeeeee;
}

.header .nav .search span:hover {
    background-color: #ff6700;
}

.header .nav .search span:hover a {
    color: #ffffff;
}

.header .nav .search span a {
    display: block;
    height: 100%;
    width: 100%;
}

.header .nav .search span.txt1 {
    left: 85px;
    width: 60px;
    height: 18px;
    text-align: center;

}

.header .nav .search span.txt2 {

    left: 150px;
    width: 90px;
    height: 18px;
    text-align: center;
}

.header .nav .search-btn {
    width: 50px;
    height: 48px;
    position: absolute;
    top: 26px;
    right: 0;
    font-size: 20px;
    background-color: #ffffff;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    cursor: pointer;
}

/*头部结束*/

/*big-banner*/
.big-banner .container {
    width: 1226px;
    height: 460px;
    position: relative;
    overflow: hidden;
}

.big-banner ul li {
    display: none;
}

.big-banner ul li.current {
    display: block;
}

.bigbanner-ctr-left,
.bigbanner-ctr-right {
    width: 40px;
    height: 69px;
    background: url(../images/icon-slides.png) no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    z-index: 7;
}

.bigbanner-ctr-left {
    left: 234px;
    background-position: -83px 0;
}

.bigbanner-ctr-right {
    right: 0;
    background-position: -124px 0;

}

.big-dian-list {
    width: 100px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    right: 30px;
    /*background-color: #900;*/
}

.big-dian-list li {
    float: left;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    border: 2px solid #858b8a;
    margin: 5px;
    background-color: #858b8a;
    cursor: pointer;

}

.big-dian-list li.active {
    background-color: #fff;
}

/*big-banner结束*/

/*内容区域*/

.home-hero-sub .container {
    /*width: 100%;*/
    height: 195px;
    margin-top: 15px;
}

.home-hero-sub .container .mi-fuwu {
    width: 226px;
    height: 140px;
    padding: 15px 4px;
    background-color: #5f5750;
    float: left;
    margin-right: 2px;
}

.home-hero-sub .container .mi-fuwu li {
    width: 75px;
    height: 75px;
    float: left;
    text-align: center;
    position: relative;

}

.home-hero-sub .container .mi-fuwu li.top-left::before {
    content: '';
    top: 65px;
    left: 6px;
    width: 64px;
    height: 1px;
    position: absolute;
    background: #665e57;

}

.home-hero-sub .container .mi-fuwu li.top-left::after {
    content: '';
    top: -1px;
    left: 74px;
    width: 1px;
    height: 64px;
    position: absolute;

    background: #665e57;

}

.home-hero-sub .container .mi-fuwu li.top-cen::before {
    content: '';
    top: -1px;
    left: 74px;
    width: 1px;
    height: 64px;
    position: absolute;

    background: #665e57;

}

.home-hero-sub .container .mi-fuwu li.top-cen::after {
    content: '';
    top: 65px;
    left: 5px;
    width: 64px;
    height: 1px;
    position: absolute;

    background: #665e57;

}

.home-hero-sub .container .mi-fuwu li.top-right::after {
    content: '';
    top: 65px;
    left: 5px;
    width: 64px;
    height: 1px;
    position: absolute;

    background: #665e57;

}

.home-hero-sub .container .mi-fuwu li.bottom-left::after {
    content: '';
    top: -4px;
    left: 74px;
    width: 1px;
    height: 64px;
    position: absolute;

    background: #665e57;

}

.home-hero-sub .container .mi-fuwu li.bottom-cen::after {
    content: '';
    top: -4px;
    left: 74px;
    width: 1px;
    height: 64px;
    position: absolute;

    background: #665e57;

}

.home-hero-sub .container .mi-fuwu li i {
    display: block;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.home-hero-sub .container .mi-fuwu li:hover i {

    color: rgb(255, 255, 255);
}

.home-hero-sub .container .mi-fuwu li span {
    font-size: 14px;
    display: block;
    color: rgba(255, 255, 255, 0.7);

}

.home-hero-sub .container .mi-fuwu li:hover span {

    color: rgb(255, 255, 255);
}

.home-hero-sub .container img {
    float: left;
    width: 316px;
    height: 170px;
    margin-left: 14px;
}

/*mi-star-goods*/
.mi-product-goods .container {
    position: relative;
}

.mi-goods-title {
    height: 59px;
    width: 100%;
    font-size: 22px;
    line-height: 59px;
    font-weight: 200;
    color: #333;
}

.mi-product-goods .product-ctrl {
    display: block;
    width: 35px;
    height: 25px;
    position: absolute;
    top: 17px;
    border: 1px solid #b0b0b0;
    text-align: center;
    line-height: 25px;
    cursor: pointer;

}

.mi-product-goods .product-ctrl-r {
    right: 36px;

    color: #c0c0c0;
}

.mi-product-goods .product-ctrl-l {
    right: 0;
    color: #c0c0c0;
}

.mi-product-goods .product-ctrl.active {
    color: #000;
}

.mi-product-goods .mi-product-wrap {
    height: 340px;
    width: 100%;
    overflow: hidden;
    position: relative;
    /*background-color: #51bcff;*/
}

.mi-product-goods .mi-product-wrap ul {
    height: 340px;
    width: 210%;
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: #ffce4b;*/
}

.mi-product-goods .mi-product-wrap ul li {
    height: 340px;
    width: 234px;
    float: left;
    margin-right: 14px;
    background-color: #fafafa;
    border-top: 1px solid #ff3428;
}

.mi-product-goods .mi-product-wrap ul li img {
    height: 175px;
    width: 170px;
    margin: 40px 32px 0;
}

.mi-product-goods .mi-product-wrap ul li .mi-product-link {
    display: block;
    height: 20px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.mi-product-goods .mi-product-wrap ul li span {
    display: block;
    height: 25px;
    width: 100%;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(176, 176, 176);
}

.mi-product-goods .mi-product-wrap ul li p {
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(246, 99, 9);
}

/*/mi-star-goods*/

.main {
    width: 100%;
    margin-top: 40px;
    border-top: 1px solid transparent;
    background-color: #f5f5f5;
    background-color: rgb(235, 235, 235);
    height:4761px;
    /*4701*/
}

/*智能硬件*/
.mi-zhineng-goods .container {
    height: 670px;
    margin-top: 62px;
}

.mi-zhineng-goods h3 span {
    display: block;
    float: right;
    height: 100%;
    width: 80px;
    font-size: 16px;
    line-height: 58px;
    text-align: center;
}

.mi-zhineng-goods h3 i {
    display: block;
    float: right;
    height: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 58px;
}

.mi-zhineng-goods ul li {
    height: 300px;
    width: 234px;
    float: left;
    margin-left: 14px;
    margin-bottom: 13px;
    background-color: #fefefe;
    position: relative;
}

.mi-zhineng-goods ul li img {
    height: 140px;
    width: 130px;
    margin: 40px 52px 0;
}

.mi-zhineng-goods ul li .mi-product-link {
    display: block;
    height: 20px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.mi-zhineng-goods ul li span {
    display: block;
    height: 25px;
    width: 100%;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(176, 176, 176);
}

.mi-zhineng-goods ul li p {
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(246, 99, 9);
}

.mi-zhineng-goods ul li:first-child {
    height: 612px;
    width: 234px;
    margin: 0;
}

.mi-zhineng-goods ul li:first-child img {
    height: 612px;
    width: 234px;
    margin: 0;
}

/*智能硬件结束*/
/*米 -  搭配*/
.mi-main-basetool .container {
    height: 670px;
    margin-top: 62px;
    position: relative;
}

.mi-main-basetool h3 {
    float: left;
    width: 100%;
    height: 58px;
    border-bottom: 1px solid transparent;
}

.mi-main-basetool .main-base-page ul li {
    height: 300px;
    width: 234px;
    float: left;
    margin-left: 14px;
    margin-bottom: 13px;
    background-color: #fefefe;
    position: relative;         /*sy*/
}

.mi-main-basetool ul li img {
    height: 140px;
    width: 130px;
    margin: 40px 52px 0;
}

.mi-main-basetool ul li .mi-product-link {
    display: block;
    height: 20px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.mi-main-basetool ul li span {
    display: block;
    height: 25px;
    width: 100%;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(176, 176, 176);
}

.mi-main-basetool ul li p {
    height: 40px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(246, 99, 9);
}

.main-base-page ul li.teshu-li {
    width: 234px;
    height: 141px;
}

.main-base-page ul li .top-part {

    margin-bottom: 17px;
}

.main-base-page ul li .top-part .lf {
    width: 120px;
    height: 141px;
    float: left;
}

.main-base-page ul li .top-part .lf a {

    margin-top: 40px;
}

.main-base-page ul li .top-part .ri {
    width: 114px;
    height: 141px;
    float: left;
}

.main-base-page ul li .top-part .ri img {
    width: 80px;
    height: 80px;
    margin: 30px 17px;
    padding: 0;
}

.main-base-page ul li .bottom-part {
    width: 234px;
    height: 141px;

}

.main-base-page ul li .bottom-part .context {
    padding-top: 45px;
    width: 234px;
    height: 50px;
}

.main-base-page ul li .bottom-part .context .lf {
    width: 100px;
    height: 50px;
    float: left;
}

.main-base-page ul li .bottom-part .context .lf p {
    width: 100px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    color: #333;

}

.main-base-page ul li .bottom-part .context .lf small {

    height: 18px;
    line-height: 18px;
    padding-left: 15px;
    color: #757575
}

.main-base-page ul li .bottom-part a {
    display: block;
    width: 100%;
    height: 100%;
}

.main-base-page ul li .bottom-part .context .ri i {
    text-align: center;
    font-size: 47px;
    padding-left: 50px;
    line-height: 50px;
    color: #f66309;
}

.mi-main-basetool .main-base-page {
    float: left;
    width: 992px;
    height: 612px;
    margin: 0;
    display: none;

}

.mi-main-basetool .no-wrap {
    height: 612px;
    width: 233px;
    margin: 0;
    float: left;
}

.mi-main-basetool .mi-main-basetool-ctrl {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}

.mi-main-basetool .mi-main-basetool-ctrl li {
    display: inline-block;
    height: 40px;
    font-size: 16px;
    margin: auto 0 18px 30px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    color: #333333;
}

.mi-main-basetool .mi-main-basetool-ctrl li.on {
    border-bottom: 2px solid #f66309;
}

.mi-main-basetool .main-base-page.active {
    display: block;
}
.mi-main-basetool ul li .review-wrapper {
    height: 76px;
    width: 234px;
    background-color: #f66309;
    position: absolute;
    bottom:0;
    left: 0;
    display: none;
}
.mi-main-basetool .main-base-page ul li.new-product::before,
.mi-main-basetool .main-base-page ul li.dazhe::before
{
    content: '新品';
    display: block;
    text-align: center;
    /*margin:0 auto;*/
    width: 64px;
    font-size: 12px;
    height: 20px;
    line-height:20px;
    color: #fff;
    background-color: #82c24d;
    position: absolute;
    left: 50%;
    margin-left:-32px;
    top: 0;

}
.mi-main-basetool .main-base-page ul li.dazhe::before{
    content: '享8折';
    background-color: #e53935;
    position: absolute;
}

.mi-main-basetool ul li .review-wrapper .review{
    width: 160px;
    height:30px;
    margin:0 auto;
    padding:7px 0;
    line-height: 19px;
    font-size: 12px;
    text-align: left;
    color: #fff;
}
.mi-main-basetool ul li .review-wrapper .author{
    width: 160px;
    height:11px;
    margin:0 auto;
    font-size: 12px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}

/*/米 -  搭配*/

/*为你推荐*/
.wntj {
    margin-top: 20px;
}

.wntj .mi-zhoubian-wrap ul li {
    border: none;
    background-color: #ffffff;
}

/*/为你推荐*/

/*热评产品*/
.bottom-info .container {
    margin-top: 20px;
    height: 475px;
}

.bottom-info .container ul {

    height: 416px;
}

.bottom-info .container ul li {

    height: 416px;
    width: 296px;
    float: left;
    margin-left: 14px;
    background-color: #ffffff;
}

.bottom-info .container ul li p {
    height: 72px;
    width: 238px;
    line-height: 24px;
    font-size: 14px;
    margin: 28px 28px 0 28px;
    color: #333;
}

.bottom-info .container ul li span {
    display: block;
    height: 11px;
    width: 238px;
    line-height: 11px;
    font-size: 12px;
    margin: 25px 28px 0 28px;
    color: #333;
}

.bottom-info .container ul li div {
    height: 18px;
    width: 238px;
    line-height: 11px;
    font-size: 12px;
    margin: 15px 28px 0 28px;
    text-align: left;
}

.bottom-info .container ul li div a {
    color: #333;
}

.bottom-info .container ul li div b {
    color: #f66309;
    font-weight: normal;
    font-size: 14px;

}

.bottom-info .container ul li div i {
    color: #e0e0e0;
    font-weight: normal;
    padding: 0 8px 0 8px;

}

.bottom-info .container ul li img {
    width: 100%;
    height: 220px;
}

.bottom-info .container ul li {

    height: 416px;
    width: 296px;
    float: left;
    /*background-color: #21a9ff;*/
    margin-left: 14px;
}

.bottom-info .container ul li.no-margin {
    margin: 0;

}

/*/热评产品*/

/*内容*/
.bottom-sub li {
    height: 415px;
    border-top: 1px solid #f66309;
    position: relative;
    overflow: hidden;
}

.bottom-sub .mi-page .top-part-sub {
    height: 415px;
    width: 1200px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.bottom-sub li .top-part-sub .son {
    height: 415px;
    width: 296px;
    margin: 0;
    padding: 0;
    float: left;
}

.bottom-sub li .top-part-sub .son span {
    display: block;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color: #ffbf49;
    width: 296px;
    margin: 27px auto 19px;
}

.bottom-sub li .top-part-sub .son .book-name {
    display: block;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #333;
    width: 296px;
    margin: 7px auto 7px;
}

.bottom-sub li .top-part-sub .son .book-sub {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 20px;
    font-size: 12px;
    color: #b0b0b0;
    width: 192px;
    padding: 0 52px;
}

.bottom-sub li .top-part-sub .son .book-piece {
    display: block;
    text-align: center;
    height: 12px;
    line-height: 12px;
    font-size: 14px;
    color: #333;
    width: 100%;
    margin: 7px auto 7px;
}

.bottom-sub li .top-part-sub .son img {
    width: 216px;
    height: 154px;
    margin: 20px 40px 0 40px;

}

.bottom-sub .mi-page li .float-sup {
    width: 296px;
    height: 30px;
    position: absolute;
    background-color: #fff;
    bottom: 15px;
    left: 0;
    text-align: center;
    padding: 0;
    margin: 0;
}

.bottom-sub .mi-page li .sub-ctrl {
    text-align: center;
    width: 296px;
    height: 30px;
    width: 296px;
    margin: 0;
    padding: 0;
    line-height: 30px;
}

.bottom-sub .mi-page li .sub-ctrl i {
    border-radius: 3px;
    display: inline-block;
    line-height: 30px;
    width: 6px;
    height: 6px;
    /*margin: 0 2px;*/
    cursor: pointer;
    background-color: #b0b0b0;
    padding: 0;
    margin: 0 15px;
}

.bottom-sub .mi-page li .sub-ctrl i.on {
    border-radius: 4px;
    background-color: #f5f5f5;
    border:1px solid #f26209;
}
.bottom-sub .mi-page .neirong-ctrl {
    width: 20px;
    height: 24px;
    padding: 12px 0;
    text-align: center;
    line-height:24px;
    font-size:20px;
    color: #fff;
    background-color:#b0b0b0;
    position: absolute;
    top:50%;
    margin:-24px 0 0 0;
    cursor: pointer;
    display: none;
}
.bottom-sub .mi-page li:hover .neirong-ctrl{
    display: block;
}

.bottom-sub .mi-page .neirong-ctrl:hover {
   
    background-color: #636363;

}
.bottom-sub .mi-page .neirong-ctrl-lf {
    left: 0;
}
.bottom-sub .mi-page .neirong-ctrl-ri {
    right: 0;
}
/*/内容*/

/*视频*/

#mi-video h3 span {
    display: block;
    float: right;
    height: 100%;
    width: 70px;
    font-size: 16px;
    line-height: 58px;
    text-align: center;
}

#mi-video h3 i {
    display: block;
    float: right;
    height: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 58px;
}

#mi-video ul li {
    height: 285px;
    position: relative;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#mi-video ul li:hover {
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}

#mi-video ul li i {
    font-size: 40px;
    position: absolute;
    left: 20px;
    top: 125px;
    color: #fff;
}

#mi-video ul li i:hover {

    color: #f66309;
}

#mi-video ul li p {
    height: 24px;
    text-align: center;

}

#mi-video ul li span {
    text-align: center;
    margin-top: 10px;
    color: #b0b0b0;

}

#mi-video li img {
    height: 180px;

}

/*/视频*/

/*/内容区域结束*/

/*----footer开始----*/

.footer .container {
    height: 460px;

    /* 测试样式*/
    position: relative;
    /*top: 60px;*/
    /* 测试样式*/

}

.footer .footer-top {
    width: 1226px;
    height: 79px;
    border-bottom: 1px solid #000;
    text-align: center;
    line-height: 79px;
    font-size: 16px;
}

.footer .footer-top ul li {
    float: right;
    width: 244px;
    height: 79px;
}

.footer .footer-top span {
    float: right;
    display: block;
    width: 1px;
    margin-top: 27px;
    height: 25px;
    background-color: #e0e0e0;
}

.footer .footer-top i {
    margin-right: 8px;
    font-size: 24px;
}

.footer-center .left {
    width: 980px;
    height: 190px;
    background-color: #fff;
    float: left;

}

.footer-center .left dl {
    text-align: left;
    width: 160px;
    height: 190px;
    float: left;
}

.footer-center .left dl dt {
    width: 160px;
    height: 64px;
    margin-top: 8px;
    line-height: 64px;
    font-size: 14px;
}

.footer-center .left dl dd {
    width: 160px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
}

.footer .footer-center-line {
    display: block;
    height: 110px;
    width: 1px;
    background-color: #e0e0e0;
    margin-top: 40px;
    float: right;

}

.footer .footer-center .right {
    width: 244px;
    height: 190px;
    float: right;
    text-align: center;
}

.footer .footer-center .right p {
    width: 244px;
    margin-top: 26px;
    height: 32px;
    font-size: 22px;
    color: #ff6700;

}

.footer .footer-center .right span {
    display: block;
    width: 244px;
    font-size: 12px;
    color: #333333;

}

.footer .footer-center .right div {
    margin: 19px auto auto auto;
    height: 28px;
    width: 118px;
    border: 1px solid #ff6700;
    text-align: center;
    line-height: 28px;

}

.footer .footer-center .right div a {
    display: block;
    height: 28px;
    width: 118px;
    color: #ff6700;

}

.footer .footer-center .right div i {
    font-size: 12px;

}

.footer .footer-bottom {
    width: 100%;
    height: 165px;
    background-color: #fafafa;
}

.footer .footer-bottom .footer-logo {
    width: 56px;
    height: 57px;
    background-color: #ff6700;
    float: left;

}

.footer .footer-bottom .context {
    width: 100%;
    height: 57px;
    margin-top: 29px;
}

.footer .footer-bottom .footer-logo img {
    width: 56px;
    height: 57px;
}

.footer .footer-bottom .footer-link {
    float: right;
    width: 1160px;
    height: 57px;
}

.footer .footer-bottom .footer-link .left {
    float: left;
    width: 770px;
    height: 57px;
}

.footer .footer-bottom .footer-link .right {
    float: right;
    width: 365px;
    height: 57px;
}

.footer .footer-bottom .footer-link .left .link a {
    color: rgb(117, 117, 117);
    font-size: 12px;
}

.footer .footer-bottom .footer-link .left .link i {
    margin: 0 3px;
    font-size: 12px;
}

.footer .footer-bottom .footer-link .left .copy a,
.footer .footer-bottom .footer-link .left .copy i {
    font-size: 12px;
    color: #b0b0b0;
}

.footer .footer-bottom .footer-link .right img {
    width: 88px;
    height: 31px;
}

.footer .slogan {
    width: 267px;
    height: 19px;
    margin: 30px auto auto auto;
    background: url(../images/slogan2016.png) center no-repeat;

}

/*----footer结束---*/



